appdirs==1.4.4
atomicwrites==1.4.0
faiss-cpu==1.11.0.post1
fastapi==0.116.1
hf-xet==1.1.5
huggingface-hub==0.34.0
jsonpointer==2.1
matplotlib==3.10.0
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
safetensors==0.5.3
sentence-transformers==5.0.0
setuptools==80.9.0
starlette==0.47.2
tokenizers==0.21.2
torch==2.7.1
transformers==4.53.3
uvicorn==0.35.0
wheel==0.45.1
